//////////////////////////////////////////
////////////////  Search  ///////////////////
.anime__search__result {
  &__loader {
    display: flex;
    justify-content: center;
    height: 15rem;
  }
}
